# Dependencies
node_modules
.npm
.yarn
npm-debug.log
yarn-error.log

# Build output
dist
build

# Environment variables
.env
.env.*

# Version control
.git
.gitignore

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation & Logs
*.md
*.log
